# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [145]:
# Add Matplotlib inline magic command
#%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [146]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Deliverable 1: Get a Summary DataFrame

In [147]:
#  1. Get the total rides for each city type
#Create city data frames
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

rural_cities_df

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [148]:
#City ride counts
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"].sum()
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"].sum()
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"].sum()

rural_ride_count

#per_city_ride_counts= pyber_data_df.groupby(["city"]).count()["ride_id"].sum()
#per_city_ride_counts

125

In [149]:
# 2. Get the total drivers for each city type
urban_driver_count = urban_cities_df.groupby(["city"]).mean()["driver_count"].sum()
suburban_driver_count = suburban_cities_df.groupby(["city"]).mean()["driver_count"].sum()
rural_driver_count = rural_cities_df.groupby(["city"]).mean()["driver_count"].sum()

rural_driver_count

#driver_count_per_city = pyber_data_df.groupby(["city"]).mean()["driver_count"].sum()
#driver_count_per_city

78.0

In [150]:
#  3. Get the total amount of fares for each city type
urban_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"].sum()
suburban_total_fare = suburban_cities_df.groupby(["city"]).sum()["fare"].sum()
rural_total_fare = rural_cities_df.groupby(["city"]).sum()["fare"].sum()

rural_total_fare

#per_city_fare_total = pyber_data_df.groupby(["city"]).sum()["fare"].sum()
#per_city_fare_total

4327.93

In [151]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["city"]).sum()["fare"].sum()/urban_ride_count
suburban_avg_fare = suburban_cities_df.groupby(["city"]).sum()["fare"].sum()/suburban_ride_count
rural_avg_fare = rural_cities_df.groupby(["city"]).sum()["fare"].sum()/rural_ride_count

rural_avg_fare

#per_city_avg_fare = pyber_data_df.groupby(["city"]).sum()["fare"].sum()/per_city_ride_counts
#per_city_avg_fare

34.62344

In [152]:
# 5. Get the average fare per driver for each city type. 
urban_driver_avg_fare = urban_cities_df.groupby(["driver_count"]).sum()["fare"].sum()/urban_driver_count
suburban_driver_avg_fare = suburban_cities_df.groupby(["driver_count"]).sum()["fare"].sum()/suburban_driver_count
rural_driver_avg_fare = rural_cities_df.groupby(["driver_count"]).sum()["fare"].sum()/rural_driver_count

rural_driver_avg_fare

#per_driver_avg_fare = pyber_data_df.groupby(["driver_count"]).sum()["fare"].sum()/driver_count_per_city
#per_driver_avg_fare

55.486282051282046

In [153]:
#  6. Create a PyBer summary DataFrame. 

pyber_summary_df = pd.DataFrame(
        {"Total Rides": [urban_ride_count, suburban_ride_count, rural_ride_count],
          "Total Drivers": [urban_driver_count, suburban_driver_count, rural_driver_count],
          "Total Fares": [urban_total_fare, suburban_total_fare, rural_total_fare],
          "Average Fare per Ride": [urban_avg_fare, suburban_avg_fare, rural_avg_fare],
          "Average Fare per Driver": [urban_driver_avg_fare, suburban_driver_avg_fare, rural_driver_avg_fare]},
columns=["Total Rides", "Total Drivers", "Total Fares", "Average Fare per Ride", "Average Fare per Driver"],
index= ["Urban", "Suburban", "Rural"])

#pyber_summary_df

In [154]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Urban,1625,2405.0,39854.38,24.525772,16.571468
Suburban,625,490.0,19356.33,30.970128,39.502714
Rural,125,78.0,4327.93,34.623440,55.486282

In [155]:
#  8. Format the columns.
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)

pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)

pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [156]:
# 1. Read the merged DataFrame
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Urban,1625,2405.0,"$39,854.38",$24.53,$16.57
Suburban,625,490.0,"$19,356.33",$30.97,$39.50
Rural,125,78.0,"$4,327.93",$34.62,$55.49

In [158]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
date_type_df = pyber_data_df.groupby(['type', 'date'])["fare"].sum()

In [159]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

date_type_df.reset_index()

       type                 date   fare
0     Rural  2019-01-01 09:45:36  43.69
1     Rural  2019-01-02 11:18:32  52.12
2     Rural  2019-01-03 19:51:01  19.90
3     Rural  2019-01-04 03:31:26  24.88
4     Rural  2019-01-06 07:38:40  47.33
...     ...                  ...    ...
2370  Urban  2019-05-08 04:20:00  21.99
2371  Urban  2019-05-08 04:39:49  18.45
2372  Urban  2019-05-08 07:29:01  18.55
2373  Urban  2019-05-08 11:38:35  19.77
2374  Urban  2019-05-08 13:10:18  18.04

[2375 rows x 3 columns]

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')